*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;

}
body{
    height:100vh;
    background: linear-gradient();
}
#result{
    background-color: black;
    width: 80vw;
    max-width: 600px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 80px 40px;
    text-align: center;
    color: white;
    font-size: 3.6vmin;
    border-radius: 10px;
    box-shadow: 0 10px 50px red;
    font-style: bold;
}
#result span:nth-child(1){
    color: cyan;
    font-size: 3em;
    display: block;
}
result span:nth-child(2){
    font-size: 1.5em;
    font-style: italic;
}